.header {
    height: var(--app-header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: var(--app-color-primary, #c41230);
    color: var(--app-color-white, #ffffff);
}
.navGroup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.navLink {
    color: #ffffff;
    background-color: var(--app-color-primary);
}
.navLink:hover {
    cursor: pointer;
    background-color: var(--app-color-primary-dark);
}
.navLink:active {
    transition: 0ms;
    background-color: var(--app-color-primary-dark);
}
.navLink[data-locked] {
    cursor: default;
    color: var(--mantine-color-gray-7);
    background-color: var(--mantine-color-gray-4);
}
.logo {
    font-size: 1.75rem;
}
.menu-text {
    font-size: 1.25rem;
}
.main {
    padding: 0.5rem;
    min-height: calc(100vh - var(--app-header-height));
    background-color: #0f0f0f;
}
