.courseContainer {
}

.courseHeader {
    text-align: left;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
}
.resizer:hover {
    background: rgb(99 102 241);
}
.resizer.isResizing {
    background: blue;
    opacity: 1;
}

.courseInfoContainer {
    padding-top: 0.1625rem;
    padding-inline: 0.5em;
}


.tooltip {
    position: absolute;
    color: var(--mantine-color-gray-3);
    background-color: var(--mantine-color-dark-9);
    border-radius: var(--mantine-radius-md);
}

.descriptionTitle {
    line-height: calc(1.5rem * var(--mantine-scale));
    padding-bottom: 0.5rem;
}

.descriptionText {
    line-height: calc(1.5rem * var(--mantine-scale));
}