.subjectListContainer {
    overflow: auto;
}

.category-button {
    cursor: pointer;
    text-align: left;
}
.category-button:hover {
    background-color: #e5e5e5;
}

.category {
    display: flex;
    flex-direction: column;
}
.category-text {
    font-size: 1.15rem;
}


.subjectList-button {
    text-align: left;
}
.subjectList-button:hover {
    background-color: #e5e5e5;
}
.subjectList {
    display: flex;
    flex-direction: column;
    padding-inline: 1.6rem 0;
}
.subjectList:nth-child(even) {
    background-color: #efeff2;
}
